extends ../layout/adminLayout
block Content
    .tab
        .title
            h1 Registrar Usuarios
        .types_container 
            button.tablinks.active(onclick="openUserType(event, 'Students')") Estudiante
            button.tablinks(onclick="openUserType(event, 'Teachers')") Maestros
            button.tablinks(onclick="openUserType(event, 'Psychologists')") Psicólogos
    #Students.tabcontent.active(style = "display:block;")
        .register_student_form 
            form#register_student_form(method="POST" action="") 
                .field 
                    label(for="matricula") Nombre:
                    input#matricula(type="text" name="matricula" placeholder="Matricula" ) 
                .field 
                    label(for="nombre") Nombre:
                    input#nombre(type="text" name="nombre" placeholder="Nombre" ) 
                .field 
                    label(for="apellidoPaterno") Apellido Paterno:
                    input#apellidoPaterno(type="text" name="apellidoPaterno" placeholder="Apellido Paterno" ) 
                .field 
                    label(for="apellidoMaterno") Apellido Materno:
                    input#apellidoMaterno(type="text" name="apellidoMaterno" placeholder="Apellido Materno" ) 
                .field 
                    label(for="username") Nombre Usuario:
                    input#username(type="text" name="username" placeholder="Nombre Usuario" ) 
                .field 
                    label(for="passowrd") Contraseña: 
                    input#password(type="password" name="password" placeholder="Contraseña")
                .register_student_buttons_container 
                    button.register_student_button(type="submit") Registrar
                    .excel_container 
                        p.excel_label Registrar con archivo Excel:
                        input#input_excel_student.register_input_excel(type="file" name="file" placeholder="Registrar con archivo csv")
                    
    #Teachers.tabcontent
        .register_student_form 
            form#register_teacher_form(method="POST" action="") 
                .field 
                    label(for="numeroEmpleado") Numero Empleado:
                    input#numeroEmpleado_form2(type="text" name="numeroEmpleado" placeholder="Numero Empleado" ) 
                .field 
                    label(for="nombre") Nombre:
                    input#nombre_form2(type="text" name="nombre" placeholder="Nombre" ) 
                .field 
                    label(for="apellidoPaterno") Apellido Paterno:
                    input#apellidoPaterno_form2(type="text" name="apellidoPaterno" placeholder="Apellido Paterno" ) 
                .field 
                    label(for="apellidoMaterno") Apellido Materno:
                    input#apellidoMaterno_form2(type="text" name="apellidoMaterno" placeholder="Apellido Materno" ) 
                .field 
                    label(for="username") Nombre Usuario:
                    input#username_form2(type="text" name="username" placeholder="Nombre Usuario" ) 
                .field 
                    label(for="passoword") Contraseña: 
                    input#password_form2(type="password" name="password" placeholder="Contraseña")
                .register_student_buttons_container 
                    button.register_student_button(type="submit") Registrar
                    .excel_container 
                        p.excel_label Registrar con archivo Excel:
                        input#input_excel_teacher.register_input_excel(type="file" placeholder="Registrar con archivo csv").register_student_button_excel 
                       
    #Psychologists.tabcontent
        .register_student_form 
            form#register_psychologist_form(method="POST" action="") 
                .field 
                    label(for="numeroEmpleado") Numero Empleado:
                    input#numeroEmpleado_form3(type="text" name="numeroEmpleado" placeholder="Numero Empleado" ) 
                .field 
                    label(for="nombre") Nombre:
                    input#nombre_form3(type="text" name="nombre" placeholder="Nombre" ) 
                .field 
                    label(for="apellidoPaterno") Apellido Paterno:
                    input#apellidoPaterno_form3(type="text" name="apellidoPaterno" placeholder="Apellido Paterno" ) 
                .field 
                    label(for="apellidoMaterno") Apellido Materno:
                    input#apellidoMaterno_form3(type="text" name="apellidoMaterno" placeholder="Apellido Materno" ) 
                .field 
                    label(for="username") Nombre Usuario:
                    input#username_form3(type="text" name="username" placeholder="Nombre Usuario" ) 
                .field 
                    label(for="passowrd") Contraseña: 
                    input#password_form3(type="password" name="password" placeholder="Contraseña")
                .register_student_buttons_container 
                    button.register_student_button(type="submit") Registrar
                    .excel_container 
                        p.excel_label Registrar con archivo Excel:
                        input#input_excel_psychologist.register_input_excel(type="file" name="file" placeholder="Registrar con archivo csv").register_student_button_excel 

    script(src="/api/register-student.js" type="module") 
    script(src="/api/register-teacher.js" type="module") 
    script(src="/api/register-psychologist.js" type="module") 
    script. 
        function openUserType(evt, userType) {
       
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(userType).style.display = "block";
        evt.currentTarget.className += " active";
        }
