extends ../layout/adminLayout
block Content
    h1 Students 
    table#students_table.display.cell-border.hover.row-border
      thead
        tr
          th Matricula
          th Username
          th Password
          th Role
      tbody
    
    script(src="/api/students.js") 
    

       
   
  

   

