extends ../layout/adminLayout
block Content
    .students_container
      h1 Estudiantes
      table#students_table.display.cell-border.hover.row-border
        thead
          tr
            //- th Matricula
            th Nombre Usuario
            th Contraseña
            th Tipo
        tbody
    
    script(src="/api/students.js") 
    

       
   
  

   

