extends ../layout/adminLayout
block Content
    .content_container
      h1 Psicólogos
      table#psychologist_table.table.display.cell-border.hover.row-border
        thead
          tr
            th Numero Empleado
            th Apellido Paterno
            th Apellido Materno
            th Nombre Usuario
            th Nombre
            th Tipo
            th Acciones
        tbody

        div#overlay
          div.edit_form_container
            form(action="" method="PATCH")#edit_form
              .edit_field
                label(for="edit_input_numeroEmpleado") Número Empleado:
                input.edit_input#edit_input_numeroEmpleado(type="text" name="numeroEmpleado" placeholder="Número Empleado")
              .edit_field
                label(for="edit_input_nombre") Nombre:
                input.edit_input#edit_input_nombre(type="text" name="nombre" placeholder="Nombre")
              .edit_field
                label(for="edit_apellidoPaterno") Apellido Paterno:
                input.edit_input#edit_input_apellidoPaterno(type="text" name="apellidoPaterno" placeholder="Apellido Paterno")
              .edit_field
                label(for="edit_apellidoMaterno") Apellido Materno:
                input.edit_input#edit_input_apellidoMaterno(type="text" name="apellidoMaterno" placeholder="Apellido Materno")
              .edit_field
                label(for="edit_username") Nombre Usuario:
                input.edit_input#edit_input_username(type="text" name="username" placeholder="Nombre Usuario")
              .edit_field
                label(for="edit_password") Contraseña:
                input.edit_input#edit_input_password(type="password" name="password" placeholder="Contraseña")
              .edit_buttons_container 
                button.psychologist_cancel_button(type="button") Cancelar
                button.save_edit_button(type="button") Guardar Cambios
    
    script(src="/api/psychologist.js") 

       
   
  

   

