@use "../../base/variables" as v;
@use "../../base/mixins" as m;

.cellphone_menu{
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.3s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    margin: 0;
    padding: 2rem;
    background-color: v.$uttn_green;
}
.cellphone_menu_menu li{
    display: block;

    @include m.desktop {
        display: none;
    }
}
.list_items{
    color: white !important;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 6rem;
    margin-left: 3rem;
    padding: 4rem;
    font-size: 2rem;

    &:hover{
        text-decoration: underline;
    }
}

.menu_button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    position: fixed;
    right: 1.2rem;
    top: 3.5rem;
    z-index: 99;
    cursor: pointer;

    @include m.desktop {
        display: none;
    }
}

.show_menu{
    transform: translateY(0);
}


