@use "../../base/variables" as v;
@use "../../base/mixins" as m;

.tab {
    display: grid;
    grid-template-columns: 70% 30% ;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    text-align: end;

    .title{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1.5rem;
    
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: v.$uttn_green;
    color: v.$white;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }