@use '../base/mixins' as m;
@use '../base/variables' as v;

.menu_margin {
  margin-top: 5rem !important;
  margin-bottom: 7rem !important;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
