// COLORS
$uttn_green: #1ab192;
$white: #ffffff;
$white_gray: #f8f9fa;
$black: #2b282a;
$grey: #666666;

  
/* FONTS */
$menu_title: 'Roboto', sans-serif;
$text_font:'Lato', sans-serif;

$copyright-symbol: "©";
 
// MEDIA QUERIES SIZES
$cellphone: 480px;
$tablet: 768px;
$desktop: 992px;
$laptop: 1024px;
$desktopXL: 1400px;