extends ./layout/index
block contenido 

    section.container.h-80
        .form_container
            form.change_password_form(action="" method="POST")
                .center
                    svg.icon.icon-tabler.icon-tabler-edit(xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewbox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        path(d='M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1')
                        path(d='M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z')
                        path(d='M16 5l3 3')
                    h1.form_heading Cambiar Contraseña
                .add_user_field 
                    input.username_hidden(type="hidden" name="username" value=username)
                    label.add_user_label(for="oldPassword") Contraseña:
                    input.add_user_input(type="password" name="oldPassword" placeholder="Contraseña")
                .add_user_field 
                    label.add_user_label(for="newPassword") Nueva contraseña:
                    input.add_user_input(type="password" name="newPassword" placeholder="Nueva contraseña")
                .ch_button_container 
                    button.forms_button Actualizar  

    script(src="/api/update-password.js" type="module", async, defer)