extends ./layout/index
block contenido 

    section.container.h-80
        .form_container
            form.change_password_form(action="" method="PATCH")
                .ch_password_field 
                    label(for="oldPassword") Contrase単a:
                    input(type="password" name="oldPassword" placeholder="Contrase単a")
                .ch_password_field 
                    label(for="newPassword") Nueva contrase単a:
                    input(type="password" name="newPassword" placeholder="Nueva contrase単a")
                .ch_button_container 
                    button.forms_button Actualizar    