extends ./layout/index
block contenido
  section.container.menu.menu_margin
    .main_menu
      .card
        .card_image
          img.card_logo(src='./img/menu_imgs/1.webp' alt=' Evaluación Docente Image')
        .card_title
          h3 Evaluaci&oacute;n Docente
      // Card
      .card
        a(href='/tutorias')
          .card_image
            img.card_logo(src='./img/menu_imgs/2.webp' alt='Tutorías Image')
          .card_title
            h3 Tutor&iacute;as
      // Card
      .card
        .card_image
          img.card_logo(src='./img/menu_imgs/3.webp' alt=' Estancia y Estadías Image')
        .card_title
          h3 Estancia y Estad&iacute;as
      // Card
      .card
        a(href='/psicometricos')
          .card_image
            img.card_logo(src='./img/menu_imgs/4.webp' alt='Test Psicométrico Image')
          .card_title
            h3 Test Psicom&eacute;trico
      // Card
      .card
        .card_image
          img.card_logo(src='./img/menu_imgs/5.webp' alt=' Seguimiento Egresados Image')
        .card_title
          h3 Seguimiento Egresados
      // Card

