extends ./layout/index
block contenido

  .container
    .form_container
      form.form.form_card#registrarForm
        .center
          h1.form_heading Registro
        .field
          label(for='folio') Folio:
          input#folio.input.folio_input(name='folio' type='number' placeholder='Folio' required)
        .field
          label(for='password') Contrase&ntilde;a:
          input.input#password(name='password' type='password' placeholder='Contraseña' required)
        .field
          button.button(type="button") Registrar

        script.
           
          const buttonForm = document.querySelector(".button");
          const form = document.querySelector("#registrarForm");

          buttonForm.addEventListener("click", validarForm);

          function validarForm() {
            const folio = document.querySelector("#folio").value;
            const password = document.querySelector("#password").value;

            if (folio === "" || password === "") {
              return
            } else {
              enviarFormulario();
            }
          }

          function enviarFormulario() {
            const data = {
              folio: document.querySelector("#folio").value,
              password: document.querySelector("#password").value
            };

            fetch('http://localhost:4000/api/registrar', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
              // Aquí puedes manejar la respuesta del servidor
              console.log(data);
            })
            .catch(error => {
              // Aquí puedes manejar cualquier error de la solicitud
              console.error(error);
            });

             window.location.href = "http://localhost:4000/"
          }