extends ./layout/index
block contenido
  .container
    .form_container
      form.form.form_card(action="http://localhost:4000/api/register" method="POST")
        .center
          svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' width='24' height='24')
            path(fill='none' d='M0 0h24v24H0z')
            path(fill='currentColor' d='M4 15h2v5h12V4H6v5H4V3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6zm6-4V8l5 4-5 4v-3H2v-2h8z')
          h1.form_heading Registro
        .field
          label(for='folio') Folio:
          input#folio.input.folio_input(name='folio' type='number' placeholder='Folio')
        .field
          label(for='contrase単a') Contrase&ntilde;a:
          input.input(name='user_contrase単a' type='password' placeholder='Contrase単a' id='contrase単a')
        .field
          button.button Iniciar Sesi&oacute;n
