// COLORS
$uttn_green: #1ab192;
$white_gray: #f8f9fa;

  
/* FONTS */
$menu_title: 'Roboto', sans-serif;

$copyright-symbol: "©";
 
// MEDIA QUERIES SIZES
$cellphone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1400px;