@use "../../base/variables" as v;
@use "../../base/mixins" as m;

.form_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
}

.form_card {
  width: 30rem;
  height: 35rem;
  background: #f5f5f5;
  border: 1.5px solid #e3e3e3;
  border-radius: 5px;
}

.form {
  padding: 25px;
}

.form_card svg {
  color: v.$uttn_green;
  margin-bottom: 20px;
  margin-right: 5px;
}

.form_heading {
  padding-bottom: 20px;
  font-size: 2.5rem;
  color: v.$uttn_green;
}

.field {
  padding-bottom: 10px;

  .input {
    border-radius: 4px;
    background-color:white;
    padding: 5px;
    width: 100%;
    color: #555555;
    border: 1px solid #f5f5f5;
    font-size: 1.5rem;
    height: 3rem;

    &::placeholder {
      color: #555555;
      font-size: 1.5rem;
    }

    &:focus-visible {
      outline: 1px solid #f5f5f5;
    }
  }
}

.folio_input::-webkit-inner-spin-button,
.folio_input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.folio_input {
  -moz-appearance: textfield;
}

label {
  color: #b2bac8;
  font-size: 1.6rem;
  display: block;
  padding-bottom: 4px;
}

button {
  background-color: v.$uttn_green;
  margin-top: 10px;
  font-size: 1.5rem;
  padding: 7px 12px;
  height: auto;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: darken(v.$uttn_green, 4);
    cursor:pointer;
  }
}
