@use "../../base/variables" as v;
@use "../../base/mixins" as m;

.content {
  .content_container {
    padding: 3.5rem;

    @include m.desktopXL {
      width: 85%;
      margin: auto;
    }
    h1 {
      text-align: center;
      margin-bottom: 3rem;
    }
  }
}

.register_form {
  margin-top: 2rem;
  padding: 3rem;
  width: 70%;

  @include m.desktop {
    height: auto;
  }

  form {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}

.add_user_field {
  height: 9rem;
  margin-bottom: 1rem;
  margin-right: 3rem;

  .add_user_label {
    display: inline-block;
    margin-bottom: 0.8rem;
    color: #000;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
  }

  .add_user_input {
    width: 100%;
    height: 3.6rem;
    border: none;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    font-size: 1.6rem;
    background-color: transparent;

    &:focus{
      outline: none;
      border-bottom: 1.5px solid v.$uttn_green;
    }
  }
}

.register_buttons_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
  margin: 2rem 0;
  grid-column-start: 2;

  .register_student_button {
    background-color: v.$uttn_green;
    font-size: 1.5rem;
    padding: 7px 12px;
    border: none;
    border-radius: 5px;
    color: v.$white;
    width: 10rem;

    &:hover {
      background-color: darken(v.$uttn_green, 4);
      cursor: pointer;
    }
  }
}

.excel_container {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: right;
  gap: 1rem;
  margin: 3rem;


  .excel_label {
    color: v.$uttn_green;
  }
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Fondo transparente con un 50% de opacidad */
  backdrop-filter: blur(4px);
  z-index: 9999;
}

/* Estilos para el formulario en la superposición */
.edit_form_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 5rem 3rem 2rem 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  font-size: 1.6rem;
  width: 50%;

  .edit_buttons_container {
    display: flex;
    justify-content: end;
    gap: 1rem;
  }
}

.edit_field {
  padding-bottom: 1rem;
  display: flex;
  gap: 1.5rem;

  label {
    font-weight: 700;
  }

  .edit_input {
    border: 1.5px solid black;

    &:focus {
      border: 2px solid v.$uttn_green;
      outline: none;
    }
  }
}
