@use "../../base/variables" as v;
@use "../../base/mixins" as m;


.tuto_menu {
    @include m.grid(2, 2rem); // GRID CELLPHONE

    @include m.tablet {
        @include m.grid(2, 2rem);
    }

    @include m.desktop {
        @include m.grid(3, 2rem);
    }

    @include m.desktopXL {
        @include m.grid(3, 2rem);
    }

    .tuto_card {
        background-color: v.$white_gray;
        text-align: center;
        height: auto;
        border-radius: 5px;
        border-bottom-left-radius: 5px ;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease;

        @include m.desktop {
            display: flex;
            height: 10rem;

        }

        @include m.desktopXL {
            display: flex;
            height: 15rem;
        }

        

        &:hover {
            cursor: pointer;
            border: 3px solid v.$uttn_green;
            transform: scale(1.05);
        }
    }

}

.tuto_card_logo {
    border-radius: 5px 0 0 5px;
    height: 100%;
  }

.tuto_card_title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.3rem;
   
    @include m.desktop {
        margin: 2rem auto;
        width: 50%;
    }

    h3 {
        font-family: v.$menu_title;
        font-size: 1.6rem;

        @include m.tablet {
            font-size: 1.8rem;
        }
    }
}