@use "../../base/variables" as v;
@use "../../base/mixins" as m;

.change_password_form {
  padding: 4rem;
  font-size: 1.5rem;
  background-color: v.$login_color;
  border: 1.5px solid #e3e3e3;
  border-radius: 5px;

  .ch_password_field {
    padding-bottom: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.ch_button_container{
    text-align: center;
}
            