doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(rel="shortcut icon", href="/img/ti_logo.png", type="image/x-icon")
  link(rel='preload' href='../css/app.css' as='style')
  link(rel="stylesheet", href="../css/app.css")
  script(src="https://code.jquery.com/jquery-3.7.0.min.js") 
  script(src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js") 
  link(rel="stylesheet", href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css")
  
 
  title=title

body
  include header
  include adminContent
  include footer