header.center
    nav.nav
      .links_container
        .container_logo
          a(href='/')
            img.uttn_logo(src='/img/uttn_logo.png' alt=' Uttn logo')
        .container_login.center
          // ( center )is a helper class that align / center the items
          a.login(href='/login' style='color: white')
            svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' width='22' height='22')
              path(fill='none' d='M0 0h24v24H0z')
              path(fill='white' d='M4 15h2v5h12V4H6v5H4V3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6zm6-4V8l5 4-5 4v-3H2v-2h8z')
            |             Iniciar Sesi&oacute;n